# dependencies
/node_modules

# production
/dist
/build

# misc
.DS_Store
.env
.env.*

# TypeScript
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode
.idea
.svelte-kit
